@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  background-color: #020413;
}

span {
  font-family: R;
}

/* Steps to Enroll */
.steps-h2 {
  font-family: "Raleway", sans-serif;
  color: #fff;
  /* Added text color */
}

.steps-card {
  background: none;
  border: 1px solid #FFFFFF41;
  /* Changed border declaration */
  border-radius: 17.49px;
  width: 274px;
  height: 105px;
}

.steps-body-1,
.steps-body-2 {
  padding-top: 20px;
  /* Adjusted padding */
}


.steps-col {
  margin-top: 20px;
}

.steps-card p {
  font-family: "Inter", sans-serif;
  word-spacing: 1px;
}

.steps-img1 {
  position: relative;
  top: 40px;
  width: 229px;
  object-fit: none;
  object-position: center;
  height: 229px;
}

.steps-img2 {
  position: relative;
  top: 55px;
  width: 190px;
  object-fit: none;
  object-position: center;
  height: 190px;
}

.steps-img3 {
  position: relative;
  top: 20px;
  width: 156px;
  object-fit: none;
  object-position: center;
  height: 156px;
}

.steps-img4 {
  position: relative;
  top: 2px;
  width: 172px;
  object-fit: none;
  object-position: center;
  height: 148.02px;
}

@media(max-width:1200px) {
  .steps-line {
    display: none;
  }
}

@media (max-width: 990px) {
  .steps-card {
    width: 840px !important;
    margin-left: 5px;
    padding: 0px 0px !important;
  }

  .steps-body-2 {
    padding-top: 16px;
  }

  .steps-img1 {
    width: 97px;
    height: 97px;
    position: relative;
    top: 0px;
    object-fit: cover;
  }

  .steps-img2 {
    width: 78px;
    position: relative;
    top: 0px;
    height: 78px;
    object-fit: cover;
  }

  .steps-img3 {
    width: 79px;
    height: 79px;
    position: relative;
    top: 0px;
    object-fit: cover;
  }

  .steps-img4 {
    width: 86.08px;
    height: 74px;
    object-fit: cover;
    position: relative;
    top: 0px;
  }

  .step-main-card {
    display: flex;
    align-items: center !important;
  }



  .steps-line {
    display: block;
  }

  .steps-card p {
    width: 100% !important;
    padding-right: 5px !important;
  }
}

@media (max-width: 989px) {
  .steps-line {
    display: block;
    rotate: 90deg;
    position: relative;
    left: -16px;
    width: 105px !important;
    top: -24px !important;
    border-right: 1px dotted #6352D0;
  }

  .steps-btn {
    width: 230px !important;
    height: 47.18px !important;
    font-size: 12px !important;
    border-radius: 6.05px !important;
    margin-top: 30px !important;
  }
}

@media (max-width: 768px) {
  .step-main-card {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }


  .steps-line {
    display: block;
    rotate: 90deg;
    position: relative;
    left: -14px;
    width: 93px !important;
    top: -24px !important;
    border-right: 1px dotted #6352D0;
  }

  .steps-card {
    width: 500px;
    height: 90px;
  }

  .steps-img1 {
    position: relative;
    /* top: 11px; */
    width: 77px;
    height: 77px;
  }

  .steps-img2 {
    position: relative;
    /* top: 20px; */
    width: 76px;
    height: 76px;
  }

  .steps-img3 {
    position: relative;
    /* top: 11px; */
    width: 75px;
    height: 75px;
  }

  .steps-img4 {
    position: relative;
    /* top: 0px; */
    width: 77px;
    height: 77px;
  }

  .steps-card p {
    font-size: 12px !important;
  }

  .steps-container {
    padding: 10px !important;
  }

  .steps-body-1 {
    padding: 13px !important;
  }
}

@media (max-width: 475px) {
  .steps-card {
    width: 100% !important;
    margin: 0px;
  }

  .step-main-card {
    max-width: 430px;
    margin: 0px !important;
  }

  .steps-body-2 {
    padding: 12px !important;
    margin: 0px;
    max-width: 100%;
  }
}

@media (max-width: 320px) {
  .steps-card {
    width: 224px !important;
    height: 74px;
  }

  .step-main-card {
    max-width: 320px !important;
    max-height: 70px !important;
  }

  .steps-body-2 {
    padding: 3px !important;
    max-width: 230px;
  }
}

.steps-btn {
  border: 1px solid #6352D0;
  width: 312.72px;
  height: 66px;
  margin-top: 30px;
  border-radius: 8.23px;
}

.steps-line {
  background-color: aliceblue;
  border-bottom: 2px dotted;
  border-bottom-color: #6352d0;
  width: 58px;
  position: relative;
  top: -63px;
  right: -283px;
}

.steps-container {
  position: relative;
}

/* Joy Gift Css */
.gift-container-fluid {
  background: #6251D126;
}

.joy-h2 {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
}

.joy-shadow {
  width: 562px;
  opacity: 0.6;
  height: 40px;
}

.joy-shadow img {
  position: relative;
  top: -76px;
  left: -16px;
  width: 100%;
}

.joy-btn {
  width: 312.72px;
  height: 66px;
  border-radius: 8.23px;
  border: 1px solid #6352D0;
  background: none;
}

.joy-btn a {
  font-size: 16px;
  letter-spacing: 0.1em;
}

@media(max-width:768px) {
  .joy-shadow {
    width: fit-content !important;
    height: 13.78px !important;
    opacity: 0.6;
  }

  .joy-h2 {
    font-size: 24px;
  }

  .gift-container-fluid {
    padding: 20px !important;
  }

  .joy-shadow img {
    width: 100%;
    position: relative;
    top: -75px;
    left: 6px;
  }

  .joy-btn {
    width: 230px !important;
    height: 47.18px !important;
    margin-left: 7px;
  }

  .joy-btn a {
    font-size: 12.55px;
  }

  .joy-h2 {
    margin-left: 5px;
  }

  .joy-btn a {
    width: 100% !important;
  }
}

@media(max-width:475px) {
  .joy-shadow img {
    width: 100%;
    position: relative;
    top: -44px;
    left: -6px;
  }

  .joy-shadow {
    width: fit-content !important;
    height: 17.78px !important;
    opacity: 0.6;
  }
}


/* Footer-section */
.footer-head-detail {
  width: 576px;
  height: 127px;
}


.foot-logo img {
  width: 104px;
  height: 115.6px;
}

.footer-icons a img {
  width: 42px;
  height: 42px;
  text-decoration: none;
  object-fit: cover;
}

.foot-email-h6 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF73 !important;
}

.foot-email-h6 a {
  text-decoration: none;
  font-family: "Jost", sans-serif;
}

.foot-f a {
  color: #FFFFFF73;
  font-size: 16px;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.foot-number {
  font-family: "Jost", sans-serif;
}

.foot-contact {
  line-height: 40px;
}

.foot-contact a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.foot-h6 {
  line-height: 21px;
}

.footer-links a {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #FFFFFF73;
}

.footer-links-2 {
  display: none;
}

@media(max-width:768px) {
  .footer-head-detail {
    width: 359px !important;
    min-height: 151.36px !important;
  }

  .footer-icons a img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    object-position: center;
  }

  .footer-a-icons {
    align-items: center;
  }

  .foot-f a {
    font-size: 14px !important;
  }

  .footer-head-detail img {
    width: 50.79px;
    height: 50.79px;
  }

  .foot-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .foot-logo img {
    width: 79px;
    height: 88.47px;
  }

  .foot-email,
  .footer-links {
    display: none !important;
  }

  .footer-links-2 {
    display: block;
  }

  .footer-links-2-a a {
    font-size: 12px;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #FFFFFF73;
  }

  .footer-icon-links {
    min-width: 100%;
  }

  .footer {
    min-width: 100%;
  }

  .main-footer {
    padding: 20px;
  }

  .footer-icons {
    height: 34px;
    display: flex !important;
    justify-content: space-between;
  }

  .foot-f {
    min-width: max-content;
  }

  .foot-f a {
    font-size: 14px !important;
    width: 100% !important;
  }

  .foot-privacy-links {
    max-width: 335px !important;
  }


  .foot-p-b {
    width: 101px;
  }

  .foot-p-b1 {
    width: 121px;
  }
  .foot-p-b2 {
    width: 25px;
  }

  .foot-p-b3 {
    width: 66px;
  }
  .foot-p-b4 {
    width: 97px;
  }
  .foot-privacy-links {
    display: none !important;
    width: 100%;
  }

  .foot-privacy-links-2 {
    display: block !important;
  }
  .foot-privacy-links-2 a{
    font-size: 10px;
    font-family:"Inter", sans-serif;
    color: #FFFFFF73;
     text-decoration: none;
  }
}
@media(max-width:330px){
  .foot-privacy-links-2 {
    display: block !important;
    display: flex !important;
    min-height:90px ;
    justify-content: space-around;
    flex-direction: column !important;
  }
}
.foot-privacy-links {
  width: 800px;
}

.foot-p-a {
  width: 94px;
}

.foot-privacy-links a {
  text-decoration: none;
  font-size: 14px;
  color: #FFFFFF73;
  font-family: "Inter", sans-serif;
}
.foot-p-a1 {
  width: 143px;
}

.foot-p-a2 {
  width: 149px;
}

.foot-p-a3 {
  width: 189px;
}
.footer-end a{
  color: #FFFFFF73;
  text-decoration: none;
}